<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container pt-4 pb-4" *ngIf="!loading">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="product-slider">
        <div class="row g-0">
          <div class="col-2">
            <div class="contain-slider">
              <img
                *ngFor="let img of productByColors.images; let i = index"
                id="{{ i + 1 }}"
                alt="{{ productInfo.name }}"
                src="{{ img }}"
                class="slider-img"
                (mouseover)="openImg(img); setImageActive(i)"
                [class.activeImg]="isImgActive(i)"
              />
            </div>
          </div>
          <div class="col-10">
            <img
              src="{{ productByColors.images[0] }}"
              alt="{{ productInfo.name }}"
              class="preview"
              #preview
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="product-Details">
        <h1 class="product-name">{{ productInfo.name }}</h1>
        <h2 class="product-price">
          Price:{{ " " }}{{ productInfo.price }}{{ " " }}LE
        </h2>
        <!-- colors -->
        <div class="contain-colors">
          <button
            *ngFor="let product of productInfo.productInfoId"
            [ngClass]="{ 'new-color': product.colors === 'white' }"
            [style.background-color]="product.colors"
            type="button"
            id="{{ product._id }}"
            class="color-btn"
            [class.activeColors]="isActive(product.colors)"
            (click)="getColorItems(product._id); setActive(product.colors)"
          ></button>
        </div>
        <!-- sizes -->
        <div class="contain-sizes">
          <button
            type="button"
            class="btn sizes"
            [disabled]="productByColors.medium === 0"
            [value]="productByColors.medium"
            [class.activeSize]="isActiveSize('medium')"
            (click)="setActiveSize('medium')"
          >
            M
          </button>
          <button
            type="button"
            class="btn sizes"
            [disabled]="productByColors.large === 0"
            [value]="productByColors.large"
            [class.activeSize]="isActiveSize('large')"
            (click)="setActiveSize('large')"
          >
            L
          </button>
          <button
            type="button"
            class="btn sizes"
            [disabled]="productByColors.xlarge === 0"
            [value]="productByColors.xlarge"
            [class.activeSize]="isActiveSize('xlarge')"
            (click)="setActiveSize('xlarge')"
          >
            XL
          </button>
        </div>
        <!-- test simple order counter -->
        <div class="contain-order-counter">
          <h2 class="contain-counter">
            <button
              type="button"
              (click)="decreaseOrder()"
              class="dec-btn"
              [disabled]="orderCounter <= 1"
            >
              -
            </button>
            <span class="counter">{{ orderCounter }}</span>
            <button
              type="button"
              (click)="increaseOrder()"
              class="inc-btn"
              [disabled]="orderCounter >= 5"
            >
              +
            </button>
          </h2>
          <h1>
            <span class="total">Total price :{{ " " }}{{ totalPrice }}</span>
          </h1>
        </div>
        <h1 *ngIf="sizeFlag === true" class="text-danger">
          choose your Size first?
        </h1>
        <button type="button" class="cartbtn mt-2" (click)="addToCart()">
          Add To Cart
        </button>
      </div>
    </div>
  </div>
</div>
