.product-slider img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.product-Details {
  text-align: center;
  .contain-colors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;

    .color-btn {
      padding: 1rem;
      border: 0;
      margin: 0.5rem;
      border-radius: 5px;
    }
  }
}
