<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <div
        class="product-slider"
        *ngFor="let product of productInfo.productInfoId; let i = index"
      >
        <!-- <h1>{{ product.colors }}</h1> -->
        <!-- <h1 *ngFor="let img of product.images">{{ img }}</h1> -->
        <img
          *ngFor="let img of product.images"
          id="{{ product._id }}"
          alt="{{productInfo.name}"
          src="{{ img }}"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-Details">
        <h1>{{ productInfo.name }}</h1>
        <h4>{{ productInfo.price }}{{ " " }}LE</h4>
        <div class="contain-colors">
          <button
            *ngFor="let product of productInfo.productInfoId"
            [style.background-color]="product.colors"
            id="{{ product._id }}"
            (click)="getColorItems(product._id)"
            class="color-btn"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
