$primaryColor: #e1668d;
$seconderyColor: rgb(141, 140, 140);
img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  // margin-bottom: 1rem;
  //   display: inline-block;
}

// .main-product {
//   margin: 1rem auto;
//   padding: 2rem;
// }
.card {
  margin: 1rem auto;
  height: 420px !important;
  border: none;
  // box-shadow: 1px 1px 3px #e1668d, -1px -1px 3px #e1668d;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.card:hover {
  transition: ease-in-out 1ms;
  cursor: pointer;
  box-shadow: 1px 1px 5px #e1668d, -1px -1px 5px #e1668d;
}
.price {
  background-color: #e1668d;
  color: #fff;
  font-weight: 700;
  padding: 2px 0px 0px 0px;
  border-radius: 5px 5px 5px 15px;
  text-align: center;
  box-shadow: 1px 1px 2px #fff;
}
.product-name {
  font-weight: bold;
  padding-top: 5px;
  color: white;
}
.card-body {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  // color: rgb(33, 39, 43);
  // background-color: ;
  box-shadow: inset;
}
.card:hover .card-body {
  transform: translateY(0%);
  // cursor: pointer;
  background-color: $seconderyColor;
  // box-shadow:inset 10px 10px 35px grey,inset -10px -10px 35px darkgray;
}
