<!-- <h2>{{ allProducts[0].category }}</h2> -->
<mat-spinner *ngIf="loading"></mat-spinner>
<div class="card-group main-product" *ngIf="!loading">
  <div class="row g-0">
    <div
      class="card col-12 col-md-6 col-lg-4"
      *ngFor="let product of allProducts"
      id="{{ product._id }}"
      (click)="getProductInfo(product._id)"
    >
      <img src="{{ product.productInfoId[0].images[0] }}" alt="product" />

      <div class="card-body row g-0">
        <span class="card-text col-9 product-name">{{ product.name }}</span>
        <span class="card-text price col-3">{{ product.price }}</span>
      </div>
    </div>
  </div>
</div>
