.head {
  font-weight: bold;
  margin-top: 2rem;
  text-decoration: underline;
  color: #e1668d;
}
table {
  width: 85%;
  margin: 2rem auto;
  text-align: center;
  font-weight: 500;
  td {
    vertical-align: middle;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
  }
  thead tr {
    color: #e1668d;
    font-size: 20px;
  }
}
