<div *ngIf="currentOrders.length > 0" class="mt-1 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="col-12" *ngFor="let order of currentOrders; let i = index">
          <div class="row">
            <div class="col-2">
              <img
                src="{{ currentOrders[i].colorImg }}"
                alt="nn"
                class="responsive"
              />
            </div>
            <div class="col-8">
              <div class="order-info">
                <div class="row">
                  <div class="col-8">
                    <h1>{{ currentOrders[i].name }}</h1>
                  </div>
                  <div class="col-4">
                    <h1>{{ currentOrders[i].productInfo.size }}</h1>
                  </div>
                </div>
                <h1>
                  price{{ " " }}
                  <span class="price">{{
                    currentOrders[i].productInfo.price
                  }}</span>
                </h1>
              </div>
            </div>
            <div class="col-2">
              <button (click)="delOrderFromCart(i)">x</button>
            </div>
          </div>

          <hr />
        </div>
      </div>
      <div class="col-3">
        <div class="contain-total">
          <h1>
            Total price {{ " " }} <span class="price">{{ totalPrice }}</span>
          </h1>
          <!-- start of model -->

          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add Order
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Modal title
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form name="orderForm" #orderForm="ngForm">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <input
                            type="string"
                            name="city"
                            placeholder="city"
                            class="form-control"
                            name="city"
                            [(ngModel)]="order.city"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="form-group">
                          <input
                            type="string"
                            name="street"
                            placeholder="street"
                            class="form-control"
                            name="street"
                            [(ngModel)]="order.street"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <input
                            type="string"
                            name="buildingNumber"
                            placeholder="buildingNumber"
                            class="form-control"
                            name="buildingNumber"
                            [(ngModel)]="order.buildingNumber"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="floor">Floor</label
                          ><select
                            name="floor"
                            id="floor"
                            [(ngModel)]="order.floor"
                          >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="apartment">apartment</label
                          ><select
                            name="apartment"
                            id="apartment"
                            [(ngModel)]="order.apartment"
                          >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <textarea
                            name="notes"
                            id="notes"
                            cols="25"
                            rows="2"
                            placeholder="notes"
                            [(ngModel)]="order.notes"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    (click)="addOrder()"
                    class="btn btn-primary"
                  >
                    Confirm Order
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- end of model -->
          <!-- <button class="add-order">add order</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="currentOrders.length == 0"
  style="margin: 5rem auto; text-align: center"
>
  <h1>cart is empty</h1>
</div>
