<div *ngIf="currentOrders.length > 0" class="mt-1 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="col-12" *ngFor="let order of currentOrders; let i = index">
          <div class="row">
            <div class="col-2">
              <img
                src="{{ currentOrders[i].colorImg }}"
                alt="nn"
                class="responsive"
              />
            </div>
            <div class="col-8">
              <div class="order-info">
                <div class="row">
                  <div class="col-8">
                    <h1>{{ currentOrders[i].name }}</h1>
                  </div>
                  <div class="col-4">
                    <h1>{{ currentOrders[i].productInfo.size }}</h1>
                  </div>
                </div>
                <h1>
                  price{{ " " }}
                  <span class="price">{{
                    currentOrders[i].productInfo.price
                  }}</span>
                </h1>
              </div>
            </div>
            <div class="col-2">
              <button (click)="delOrderFromCart(i)">x</button>
            </div>
          </div>

          <hr />
        </div>
      </div>
      <div class="col-3">
        <div class="contain-total">
          <h1>
            Total price {{ " " }} <span class="price">{{ totalPrice }}</span>
          </h1>
          <button class="add-order">add order</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="currentOrders.length == 0"
  style="margin: 5rem auto; text-align: center"
>
  <h1>cart is empty</h1>
</div>
