$primaryColor: #e1668d;
$borderColor: #e0dfdf;
input {
  border: none;
  border-bottom: 1px solid rgb(232, 227, 227);
  margin-bottom: 0;
  margin-top: 1rem;
}
button {
  width: 100%;
  background: $primaryColor !important;
  color: #fff !important;
  font-size: 20px !important;
}
.signUp-page {
  min-height: 100%;
  margin: 0;
  background: url("../../../assets/images/background.jpg");
  background-size: contain;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  padding: 4.8rem;
  .contain-form {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;
    border-radius: 10px;
  }
  p {
    text-align: left;
    margin-top: 5px;
    font-size: 15px;
  }

  .signUp-form {
    background: linear-gradient(45deg, $borderColor, rgb(179, 176, 176));
    // box-shadow: 5px 5px 15px $borderColor, -5px -5px 15px $borderColor;
    border: 1px solid rgb(206, 204, 200);
    margin: 1px auto;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .head {
    margin: 2px 0;
    p {
      text-align: center;
    }
  }
  .btn {
    margin-top: 1rem;
  }
  .copy {
    font-size: 13px;
    margin-top: 20px;
    p {
      text-align: center;
    }
  }
  .img {
    padding: 20% 15%;
    background: url("../../../assets/images/slide1.jpeg") center center/cover
      no-repeat;
    position: relative;
    overflow: hidden;
  }
}

@media only screen and (max-width: 991px) {
  .contain-form {
    width: 90% !important;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
    .signUp-page {
      .contain-form {
        width: 90% !important;
      }
    }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .signUp-page {
    height: 100%;
    .signUp-form {
      order: 2;
    }
    .img {
      order: 1;
      padding: 2% 0;
    }
    .contain-form {
      width: 85% !important;
    }
  }
}
// validations
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
#inputPhone::-webkit-outer-spin-button,
#inputPhone::-webkit-inner-spin-button {
  display: none;
}
