.sign-up {
  width: 30vw;
  // margin: 5rem auto;
  margin-left: 65vw;
  // border: 1px solid rgb(183, 180, 180);
  padding: 1rem;
  border-radius: 1rem;
  // background-color:#e1668d;
}
.top-cont {
  height: 15vh;
  background-color: #e1668d;
}
.bottom-cont {
  height: 15vh;
  background-color: #e1668d;
}
.foot-button{
  margin-top: 1rem;
  border-top: 1px solid rgb(230, 227, 222);
  div{
    text-decoration: underline;
  }
}
