<header class="headerContainer">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" routerLink="/home">
      <span>keef</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/signUp">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signIn">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminSignUp">adminSign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAuth">log out</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/cart">Cart{{ orderNum }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
