<section class="login-page">
  <div class="row contain-form">
    <div class="col-sm-6 img">
      <img src="../../../assets/images/logo.png" height="120" alt="kef" />
    </div>
    <form
      class="col-sm-6 login-form"
      (submit)="loginSubmit(f)"
      name="loginForm"
      #f="ngForm"
    >
      <div class="head">
        <h2 class="title">Sign In</h2>
        <p>Welcome Back, Sign in <br /></p>
      </div>
      <div class="form-group">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-control"
          name="email"
          [(ngModel)]="login.email"
          required
          email
          #validEmail="ngModel"
        />
        <p
          *ngIf="validEmail.errors?.['required']&& validEmail.touched"
          class="text-danger"
        >
          email is required
        </p>
        <p
          *ngIf="validEmail.errors?.['email']&& validEmail.touched"
          class="text-danger"
        >
          please enter avalid email
        </p>
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="password"
          class="form-control"
          name="password"
          [(ngModel)]="login.password"
          required
          #password="ngModel"
        />
        <p
          *ngIf="password.errors?.['required'] && password.touched"
          class="text-danger"
        >
          password is required
        </p>
      </div>
      <div class="form-group">
        <button class="btn" type="submit" [disabled]="!f.valid">Login</button>
        <button class="btn signUpBtn" type="button" routerLink="/signUp">
          Sign Up
        </button>
        <p class="text-danger text-center mt-4" *ngIf="loginFlag">
          invalid Email or Password
        </p>
      </div>
      <div class="copy">
        <p>2022 @ Kef</p>
      </div>
    </form>
  </div>
</section>
