$fontColor: #4f6983;
$mainColor: #504dc4;
$mainColorDark: #1e3148;
$accent: #e1668d;
$accentLight: #ff8149;
input {
  border: none;
  border-bottom: 1px solid rgb(232, 227, 227);
  margin-bottom: 1rem;
}

button {
  width: 100%;
  background: $accent !important;
  color: #fff !important;
  font-size: 20px !important;
}
.login-page {
  min-height: 100%;
  margin: 0;
  // padding: 4rem 0;
  //   background-image: linear-gradient(90deg, #fe62778a, #FE6277);
  background: url("../../../assets/images/slide1.jpeg") center center/cover
    no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

  background-color: $accent;
  .contain-form {
    text-align: center;
    width: 750px;
    margin: 5px auto;
    padding: 3rem 0;
    border-radius: 10px;
  }

  .login-form {
    background: #fff;
    padding: 40px 15px;
  }
  .head {
    margin: 15px 0 40px 0px;
  }
  .btn {
    margin-top: 20px;
  }
  .copy {
    font-size: 13px;
    margin-top: 30px;
  }
  .img {
    padding: 20% 0;
    background: url("../../../assets/images/slide1.jpeg") center center/cover
      no-repeat;
    position: relative;
    overflow: hidden;
  }
  .img img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
}
// .login-page::before {
//   background-color: #e1668d;
//   // content: " ";
//   height: 100%;
//   position: absolute;
//   width: 100%;
// }
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .login-page {
    .contain-form {
      width: 90%;
    }
    .img {
      padding: 20% 0;
    }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .login-page {
    height: 100%;
    .login-form {
      order: 2;
    }
    .img {
      order: 1;
      padding: 20% 0;
    }
    .contain-form {
      width: 75%;
    }
  }
}
.signUpBtn {
  background-color: white !important;
  color: black !important;
  border: 1px solid $accent;
}
.signUpBtn:hover {
  background-color: $accent !important;
  color: #fff !important;
}
